.app-container {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #56bdb2;
  position: relative;
  overflow: hidden;
}

.content-container {
  z-index: 2;
  color: white;
  padding: 20px;
  max-width: 600px;
  position: relative;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.description {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 40px;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1rem;
  }
}