
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: var(--bg-dark);
  color: var(--text-main);
}

main section {
  padding: 120px 24px;
}

section > * {
  max-width: var(--max-width);
  margin: 0 auto;
}

 /* .app-container {
  font-family: 'Inter', sans-serif;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200vh;
  width: 100vw;
  background-color: #56bdb2;
}


.app-container::-webkit-scrollbar {
  display: none;
} */

/* .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  max-width: 600px;
  position: relative;
  color: white;
  z-index: 10;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.description {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 40px;
  opacity: 0.9;
}


.contact-btn {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background: teal;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.contact-btn:hover {
  background: #005f5c;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1rem;
  }
}  */
