.background-wave-group {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  opacity: 0.3;
  pointer-events: none;
}

.wave1 {
  fill: rgba(47, 176, 165, 0.2);
}

.wave2 {
  fill: rgba(0, 114, 110, 0.15);
}